{% extends 'base.html.twig' %}

{% block body %}
    <div class="home"></div>
{% endblock %}

 {# {% block javascripts %}
    
   <script type="module" src="three.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.110.0/build/three.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.110.0/examples/js/loaders/OBJLoader.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.110.0/examples/js/loaders/MTLLoader.js"></script>
    import * as THREE from 'https://cdn.skypack.dev/pin/three@v0.129.0-wvvakZsqdBNJECAHNDSA/mode=imports/optimized/three.js';
    import { OrbitControls } from 'https://unpkg.com/three@0.119.0/examples/jsm/controls/OrbitControls.js';
    import { MTLLoader } from 'https://cdnjs.cloudflare.com/ajax/libs/three.js/101/three.min.js';


<script type="module">
    

    import * as THREE from 'https://cdn.jsdelivr.net/npm/three@0.129.0/build/three.module.js'; 
    import {OBJLoader} from 'https://cdn.jsdelivr.net/npm/three@0.129.0/examples/jsm/loaders/OBJLoader.js';
     import { MTLLoader } from 'https://cdn.jsdelivr.net/npm/three@0.129.0/examples/jsm/loaders/MTLLoader.js';
    import {OrbitControls} from 'https://cdn.jsdelivr.net/npm/three@0.129.0/examples/jsm/loaders/OBJLoader.js';
    import { CSS2DRenderer, CSS2DObject } from 'https://cdn.jsdelivr.net/npm/three@0.129.0/examples/jsm/renderers/CSS2DRenderer.js'; 
    
    let camera, scene, renderer, labelRenderer;

    let controls, dirLight, light;

    function init() {
        
        //SCENE and CAMERA
        camera = new THREE.PerspectiveCamera( 75, window.innerWidth / window.innerHeight, 0.1, 100 );
        camera.position.set(-1, 6, 7);
            
        scene = new THREE.Scene();
        scene.background = new THREE.Color( 0xD7D7BF );

        //LIGHT
        dirLight = new THREE.DirectionalLight( 0xffffff );
        light = new THREE.PointLight(0xffffff, .5, 1000, 2);
        dirLight.position.set( .5, 2, 2 );
        scene.add( dirLight,  light  );


        //OBJECT AND MATERIALS LOAD

        // OBJECT ROOM
        const mtlLoader = new MTLLoader();
            mtlLoader.setPath( "Object3D/" );

            mtlLoader.load( 'Fivverr.mtl', function( materials ) {

                materials.preload(); 
                const loader = new OBJLoader(); 

                loader.setMaterials( materials );
                loader.setPath( "Object3D/" );
                loader.load( 'Fivverr.obj', function ( object ) {
                
                    object.position.set(.1,.1,.1);
                    object.scale.set( .04, .04, .04 );    
                    scene.add( object );
        
                })
            });


            //LINK HTML
            let forum = document.createElement( 'a' );
            forum.href = "http://localhost:8000/sujet";
            forum.textContent = 'Salon';
            const divSalon = document.createElement( 'div' );
            divSalon.className = 'nav-link';
            divSalon.appendChild(forum);
            const salonRend = new CSS2DObject( divSalon );
            salonRend.position.set( 10, 1.1, -3);
            scene.add( salonRend ); 
            
            //Inscription
            let register = document.createElement( 'a' );
            register.href = "http://localhost:8000/register";
            register.textContent = 'Inscription';
            const divRegister = document.createElement( 'div' );
            divRegister.className = 'nav-link';
            divRegister.appendChild(register);
            const registerRend = new CSS2DObject( divRegister );
            registerRend.position.set( -6, 2.5, -8);
            scene.add( registerRend ); 

            //logIn/logout
            let logIn = document.createElement( 'a' );
            logIn.href = "http://localhost:8000/login";
            logIn.textContent = 'Login';
            const divLogIn = document.createElement( 'div' );
            divLogIn.className = 'nav-link';
            divLogIn.appendChild(logIn);
            const logInRend = new CSS2DObject( divLogIn );
            logInRend.position.set( 5, 1, 1);
            scene.add( logInRend );

            //projets
            let projet = document.createElement( 'a' );
            projet.href = "http://localhost:8000/projet";
            projet.textContent = 'Projet';
            const divProjet = document.createElement( 'div' );
            divProjet.className = 'nav-link';
            divProjet.appendChild(projet);
            const projetRend = new CSS2DObject( divProjet );
            projetRend.position.set( -6, 0, 2);
            scene.add( projetRend );


            //RENDERER  

            // WebGl
            renderer = new THREE.WebGLRenderer();
            renderer.setSize( window.innerWidth, window.innerHeight );
            document.body.appendChild( renderer.domElement );
            //Css2d
            labelRenderer = new CSS2DRenderer();
            labelRenderer.setSize( window.innerWidth ,window.innerHeight);
            labelRenderer.domElement.classList.add('link');
            labelRenderer.domElement.style.position = 'absolute';
            labelRenderer.domElement.style.top = '0px';
            document.body.appendChild( labelRenderer.domElement );
            
            
            //orbitControl
            controls = new OrbitControls( camera, labelRenderer.domElement ); 
            // vertical angle control
            controls.minPolarAngle = -Math.PI / 4;
            controls.maxPolarAngle = Math.PI / 2.5;
            // horizontal angle control
            controls.minAzimuthAngle = -Math.PI/2 ; 
            controls.maxAzimuthAngle = Math.PI/2 ;
            // min / max Zoom
            controls.minDistance = 5;
            controls.maxDistance = 12;
            // Do not Drag
            controls.enablePan = false; 
            controls.update();

    }




    // ANIMATE FUNCTION (re-renderer)
    const animate = function () {
        requestAnimationFrame( animate );

        controls.update();
        renderer.render( scene, camera );
        labelRenderer.render( scene, camera );
    };

    init();
    animate();

    </script>
{% endblock %} #}