{% extends 'base.html.twig' %}

{% block title %}Edit projet{% endblock %}

{% block body %}
    {{ include('nav.html.twig') }}
    <div class="bg-green-100 p-5 ">

    {{ include('projet/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('projet_index') }}">back to list</a>

    {{ include('projet/_delete_form.html.twig') }}
    </div>
{% endblock %}
