{% extends 'base.html.twig' %}

{% block title %}New projet{% endblock %}

{% block body %}
    <h1>Create new projet</h1>

    {{ include('projet/_form.html.twig') }}

    <a href="{{ path('projet_index') }}">back to list</a>
{% endblock %}