{% extends 'base.html.twig' %}

{% block title %}New chanel{% endblock %}

{% block body %}
    {{ include('nav.html.twig') }}
    <div class="bg-green-100 p-5">
    {{ include('chanel/_form.html.twig') }}
        <a href="{{ path('projet_show', {'id': projet.id}) }}">back to projet</a>

    </div>

{% endblock %}
