{% extends 'base.html.twig' %}

{% block title %}{{ chanel.techno.name }}{% endblock %}

{% block body %}
    <h2>{{ chanel.techno.name }}</h2>
    <a href="{{ path('projet_show', {'id': chanel.projet.id}) }}">back to projet</a>
{% endblock %}