@import url('./general.scss');
@import url('./class.scss');

.img_test{
    width: 15%;
    height: 15%;
    border-radius: 50%;
}

.uk-background-default{
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 2%;
    background-color: whitesmoke;
    border-radius: 15%;
    color: black;
    font-size: large;
}

.uk-text-lead{
    color: rgba(114, 102, 102, 0.897);
}

.uk-button{
    border-radius: 25%;
}

.border-form{
    border-radius: 20%;
}

.text-title{
    color:blue;
}