.nav-link {
    padding: 5px;
    background-color: #35bf73;
    border-radius: 10px;
    width: 150px;
}

.nav-link a {
    color: #fff;
    display: block;
    text-align: center;
}

.logo {
    width: 35%;
    a {
        display: block;
        img {
            display: block;
            width: 90%;
            &:hover {
                transform: scale(2);
            }
        }
    }
}