.nav-link {
    padding: 5px;
    border: 2px solid #35bf73;
    border-radius: 5px;
    width: 150px;
    overflow: hidden;
}

.nav-link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #35bf73;
    z-index: -1;
    transition: all .2s ease-in;
}

.nav-link:hover::before {
    transform: translateX(-105%);
}

.nav-link a {
    color: #fff;
    display: block;
    text-align: center;
    font-size: 1.3rem;
}

.draw {
    height: 30vh;
    margin: 0 auto;
}

.draw path {
    fill: none;
    stroke-width: 10;
    stroke-dasharray: 10575px;
    stroke-dashoffset: 10575px;
    animation: animSvg 5s ease forwards;
}

@keyframes animSvg {
    to {
        stroke-dashoffset: 0;
    }
}

.noDraw {
    margin: 0 auto;
}

.noDraw path {
    stroke-width: 10;
}

.transitionPage {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #35bf73;
    z-index: 1000;
}

.upText {
    overflow: hidden;
    color: #ffff;
    display: flex;
    justify-content: center;
}

.toUp {
    font-weight: 800;
    font-size: 5rem;
}


/*Sujet*/

.height-max {
    min-height: 80vh;
}

.window {
    min-height: 100vh;
}


/* PROFIL */

.vertText {
    writing-mode: vertical-rl;
    text-orientation: upright;
    position: absolute;
    left: 10px;
    top: 50px;
    font-size: 4rem;
    font-weight: 800;
    color: transparent;
    -webkit-text-stroke: 4px #095228;
}

.profilContainer {
    padding: 50px 0;
    background-color: #ECFCF4;
    position: relative;
}

.btnContainer {
    display: flex;
    justify-content: space-between;
    margin: 1rem auto;
    border-radius: 5px;
    background: #35bf73;
    color: #ffff;
    width: 150px;
}

.btnContainer a {
    padding: 5px;
    text-align: center;
}

.bande {
    position: absolute;
    top: 0;
    height: 80px;
    width: 100vw;
    background-color: #35bf73;
    display: flex;
    align-items: flex-end;
}

.bande img {
    max-height: 100%;
    display: block;
}

.bande p {
    font-size: 1.5rem;
    font-weight: 800;
    color: #ffff;
}