
<form method="delete" action="{{ path('comment_sujet_delete', {'id': message.id}) }}" onsubmit="return confirm('Are you sure you want to delete this message?');">
    <button class="underl">SUPPRIMER</button>
</form>

