<div class="uk-transition-toggle uk-flex uk-flex-center" tabindex="0">
    <div class="uk-transition-scale-up uk-transition-opaque">
    <a href="{{path("home_index")}}">
    <img
     src="/assets/images/fiverrphpjs.png"
     alt="fiverr logo"
     width="500px">
     </a>
    </div>
</div>