{% extends "base.html.twig" %}

{% block title %}Hello !{% endblock %}

{% block body %}

<div class="uk-width-1-4 uk-align-center ">
    <div class="uk-background-muted uk-height-medium">
        <div class="uk-flex uk-flex-center uk-align-center border-form">
            {{ form_start(form) }}
        </div>
        <div class="uk-flex uk-flex-center uk-align-center border-form">
        {{ form_widget(form) }}
        </div>
        <div class="uk-flex uk-flex-center uk-align-center border-form">

        <input class="uk-form-success uk-flex uk-flex-center uk-align-center uk-button uk-button-primary uk-button-large" type='submit' value='Add avatar'>

        {{ form_end(form) }}
        </div>
    </div>  
</div>
{% endblock %}
