{% extends 'base.html.twig' %}

{% block title %}New Topic{% endblock %}

{% block body %}
 {{ include('nav.html.twig') }}
<div class="bg-green-100 p-5">
    {{ include('topic/_form.html.twig') }}



    <a href="{{ path('sujet_index') }}">

        <div class="upText button">
                <div class="toUp">b</div>
                <div class="toUp">a</div>
                <div class="toUp">c</div>
                <div class="toUp">k</div>
                <div class="toUp">&nbsp;</div>
                <div class="toUp">t</div>
                <div class="toUp">o</div>
                <div class="toUp">&nbsp;</div>
                <div class="toUp">l</div>
                <div class="toUp">i</div>
                <div class="toUp">s</div>
                <div class="toUp">t</div>
            </div>
    </a>
</div>
{% endblock %}
