
<form method="delete" action="{{ path('sujet_delete', {'id': sujet.id}) }}" onsubmit="return confirm('Are you sure you want to delete this subject?');">
    <button class="font-light text-red-500 hover:underline">SUPPRIMER</button>
</form>

