
<form method="delete" action="{{ path('sujet_delete', {'id': sujet.id}) }}" onsubmit="return confirm('Are you sure you want to delete this subject?');">
    <button class="underl">SUPPRIMER</button>
</form>

