
<form method="delete" action="{{ path('sujet_delete', {'id': sujet.id}) }}" onsubmit="return confirm('Are you sure you want to delete this subject?');">
    <button class="uk-button uk-button-text uk-align-right">supprimer</button>
</form>

