<div class="uk-width-1-3 uk-align-center">
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="uk-button uk-button-default uk-align-center">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
</div>
