<div class="uk-align-center uk-width-1-3 uk-background-default">
    <div class="uk-background-muted border-form uk-text-center">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="uk-button uk-button-primary uk-align-center">{{ button_label|default('Save') }}</button>
        {{ form_end(form) }}
    </div>
</div>
