{% extends "base.html.twig" %}
{% block body %}
 {% include("user/_form.html.twig") %}
 <a class="uk-flex uk-flex-center uk-align-center" href="{{ path("user_show", {id: app.user.id}) }}">Back to profil</a>
{% endblock %}
